{% extends 'article.html' %}

{% block content %}
    {% load render_article %}
    {% load created_at_dt %}
    {% replace_date article.created_at as dt %}
    {% render_article article.body as body_text %}
    {% render_article article.cta.body as cta %}
    {% block article_content %}
        {{article.title}} 
        {{body_text}}<p class="timeago" datetime="{{dt}}"></p>
        <a class="button is-primary" href="/index">Home</a>

        {{ cta }}
    {% endblock %}
{% endblock %}

{% block has_email %}
{% endblock %}
