{% extends 'base.html' %}

{% block has_stripe %}
{% endblock %}

{% block has_email %}
{% endblock %}

{% block has_video %}
{% endblock %}

{% block cdn_resources %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
{% endblock %}

{% block code_theme %}
{% endblock %}

{% block title %}Page not found{% endblock %}

{% block header %}
{% endblock %}
{% block header_title %}Page not found{% endblock %}

{% block content %}
<div class = "curves4">
    <div class="columns no-margin">
      <div class="column is-8 is-offset-2 is-full-tablet is-full-mobile">
        <div class="section">
          <div class="container">
              <p>No page found!</p>
              <a class = "button primary big-button" onclick="home()">HOME</a>
          </div>
        </div>
    </div>
</div>
    {% block secret_panels %}
    {% endblock %}
{% endblock content %}
