{% extends 'base.html' %}

{% block has_stripe %}
{% endblock %}

{% block has_video %}
{% endblock %}

{% block has_email %}
{% endblock %}

{% block title %}Contact{% endblock %}

{% block header %}
{% endblock %}
{% block header_title %}Contact{% endblock %}

{% block content %}
<div class = "curves3">
    <div class="columns no-margin">
      <div class="column is-8 is-offset-2 is-full-tablet is-full-mobile">
        <div class="section">
          <div class="container">
                <form method="post">
                    <div class = "control">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Save">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}