{% extends 'base.html' %}

{% block has_stripe %}
{% endblock %}

{% block has_video %}
{% endblock %}

{% block has_email %}
{% endblock %}

{% block title %}Test page{% endblock %}

{% block header %}
{% endblock %}
{% block header_title %}Test Page{% endblock %}

{% block content %}
    <div style="display:flex;flex-wrap:wrap;">
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
        <div style="height:200px;width:200px;margin:10px;background:linear-gradient(blue,purple);border-radius:100%;"></div>
    </div>

{% endblock content %}